body {
  text-align: center;
  background-color: rgb(194, 238, 238);
}
.page-link {
  color: rgb(9, 122, 122);
  margin: 0 10px;
}
.bread {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  height: 600px;
}
